@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p> List info </p>

<ul>Element 1</ul>
<ul>Element 2</ul>
<ul>Element 3</ul>